<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create project</h1>
    </div>
    <div class="col-sm-6">
      <form class="form" name="form">
        <div class="form-group">
          <label>Project name</label>

          <input type="text" name="name" class="form-control" ng-model="projectName">
        </div>
        <div class="form-group" >
          <label>Description</label>
          <input type="text" name="email"  class="form-control" ng-model="projectDescription">
        </div>

        <div class="form-group">
          <label>Initial FramerJS prototype</label>

          <input type="text" name="name" class="form-control" ng-model="projectURL">
        </div>



        <hr>
        <label>Type of project</label>
        <div class="onoffswitch">
          <input type="checkbox" ng-model="isProjectPublic" ng-change="onSwitch(isProjectPublic)" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch">

            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
        <hr>
        <div>
          <p ng-if="!isProjectPublic && !isLoggedIn">To create private project you need to sign up</p>
          <button ng-if="!isProjectPublic && !isLoggedIn" class="btn btn-inverse btn-lg btn-login" type="submit" >
            <a href="/login">Login</a>
          </button>
          <button class="btn btn-inverse btn-lg btn-login"  ng-disabled="!isProjectPublic && !isLoggedIn" type="submit" ng-click="addProject()">
            Add project
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/dashboard">
            Nevermind
          </a>
        </div>
      </form>
    </div>
  </div>

</div>
