<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create project</h1>
    </div>
    <div class="col-sm-6">
      <form class="form" name="form">

        <div class="form-group">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="projectName">
        </div>

        <div class="form-group" >
          <label>Description</label>
          <input type="text" name="email"  class="form-control" ng-model="projectDescription">
        </div>
        <label>Type of project</label>





        <div class="onoffswitch">
          <input type="checkbox" ng-model="isProjectPublic" ng-change="onSwitch(isProjectPublic)" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch">

            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit" ng-click="addProject()">
            Add project
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/dashboard">
            Nevermind
          </a>
        </div>

        <hr>

      </form>
    </div>
  </div>
  <hr>
</div>
