<script>

var disqus_config = function () {

this.page.url = $('[ng-controller="ProjectCtrl"]').scope().currentPath; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//frameshare.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<div id="frameshare-dashboard-hero-unit" class=" jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2 frameshare-dashboard-project-badge">
        <div>
          <span class="icon-versions"></span>
        </div>
      </div>

      <div class="col-md-8 frameshare-dashboard-profile-info">

        <div ng-if="!showEditInput">
          <h1 ng-click="startEditing()" ng-class="{'frameshare-project-title-isAuthor': isUserAuthor}">{{project.name}}
            <span ng-if="isEdit" class="glyphicon glyphicon-pencil frameshare-project-title-edit-icon" ng-click="startEditing()" aria-hidden="true">
            </span>
          </h1>
        </div>

        <div class="row" ng-if="showEditInput">
          <div class="col-lg-8">
            <div class="input-group frameshare-edit-project-title ">

              <input type="text" class="form-control" placeholder="Type name of the project" ng-model="newTitle">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="updateTitle(newTitle); startEditing()">Change name</button>
                <button class="btn btn-default" type="button" ng-click="startEditing()">Nevermind</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>


          <p id="frameshare-project-description" >{{project.description}}</p>

        <small ng-if="project.author && isUserAuthor">created by {{project.author.name}} </small>

      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Versions</span>
                </div>
                <div class="panel-body">
                  <div ng-if="project.prototype_version.length == 0">
                    <p>No versions created yet 💤</p>
                  </div>
                  <ul class="list-group prototype-versions-panel">
                    <li class="list-group-item prototype-version-item" ng-repeat="version in project.prototype_version | orderBy:'-created_at'">
                      <div class="pull-right">
                        <a ng-href="{{version.url}}" class="prototype-verstion-item-open-prototype" tooltip="Open prototype">
                          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                          Open prototype
                        </a>
                      </div>
                      <p class="prototype-version-item-timestamp" am-time-ago="version.created_at"></p>
                      <p class="prototype-version-item-name">{{version.name}}</p>
                      <p class="prototype-version-item-url"><code>{{version.url}}</code></p>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="disqus_thread"></div>
      </div>
    </div>
</div>




