.frameshare-dashboard-project-badge {
  font-size: 100px;
  margin: 0px auto;
  text-align: center;
}

#frameshare-project-title {
  width: auto;
  display:inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}


.frameshare-project-title-isAuthor {
   font-weight: 400;
   width: auto;
   display:inline-block;
}

.frameshare-project-title-isAuthor:hover {
  background-color: rgba(52, 152, 219, 0.13);
  cursor:pointer;
}

#frameshare-project-description {

}

.frameshare-dashboard-project-info h1 {
  font-size: 40px;
}

.frameshare-dashboard-project-info h1 {
  background-color: green !important;

}

.frameshare-edit-project-title {
  margin-top: 20px;
  margin-bottom: 20px;

}

.frameshare-edit-project-title input {
  height: 50px;
}

.frameshare-edit-project-title button {
  height: 50px;
}

.frameshare-project-title-edit-icon {
  font-size: 50%;
}

.frameshare-project-title-edit-icon:hover {
  cursor: pointer;
}
