<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//frameshare.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<div id="frameshare-dashboard-hero-unit" class=" jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2 frameshare-dashboard-project-badge">
        <div>
          <span class="icon-versions"></span>
        </div>
      </div>
      <div class="col-md-8 frameshare-dashboard-profile-info">
        <h1>{{project.name}}</h1>
        <p>{{project.description}}</p>
        <small ng-if="project.author">created by {{project.author.name}} </small>

      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Versions</span>
                </div>
                <div class="panel-body">
                  <div ng-if="project.prototype_version.length == 0">
                    <p>No versions created yet 💤</p>
                  </div>
                  <ul class="list-group prototype-versions-panel">
                    <li class="list-group-item prototype-version-item" ng-repeat="version in project.prototype_version | orderBy:'-created_at'">
                      <div class="pull-right">
                        <a ng-href="{{version.url}}" class="prototype-verstion-item-open-prototype" tooltip="Open prototype">
                          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                          Open prototype
                        </a>
                      </div>
                      <p class="prototype-version-item-timestamp" am-time-ago="version.created_at"></p>
                      <p class="prototype-version-item-name">{{version.name}}</p>
                      <p class="prototype-version-item-url"><code>{{version.url}}</code></p>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div id="disqus_thread"></div>
    </div>
</div>




