#banner {
  background-image: url("/assets/images/MainViewBackground.png");
  border-bottom: none;
  margin-top: -20px;
  height: 350px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 129px 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.hero-unit img {
  width: 150px;
  height: 150px;
}

.hero-unit-list-projects {
  text-align: left;
  color: white;
}

.hero-unit-list-projects a {
  color: white;
  text-decoration: none;
}

/* ============================================================
  FRAMESHARE CREATE PROJECT
============================================================ */

#frameshare-create-project {
  width:70%;
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
}

.create-project-input button {
   padding: 10px;
    border: solid 5px #137CB8;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border-radius: 0px;
    width: 200px;
    background-color: #137CB8;
    color: white;
    text-transform: uppercase;
}

.create-project-input button:focus, .create-project-input button.focus {
    border: solid 5px #137CB8;
    background-color: #137CB8;
    color: white;
}

#frameshare-create-project-input {
  padding: 20px !important;
  border: solid 5px #137CB8 !important;
  -webkit-transition: border 0.3s !important;
  -moz-transition: border 0.3s !important;
  -o-transition: border 0.3s !important;
  transition: border 0.3s !important;
  border-radius: 0px !important;
  width: 100% !important;
  text-transform: uppercase !important;
}

.create-project-input input[type="text"]:focus, .create-project-input input[type="text"].focus {
  border: solid 5px #137CB8;
}


.nav-tabs > li > a {
  border: none !important;
}

/*-- Public projects --*/
#framshare-main-public-projects h2 {
  color: #D8D8D8;
  font-size: 1.5em;
  margin: 20px 0px 20px 0px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

#syf-main-add-project {
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #frameshare-create-project {
    display: none;
  }
}
