#banner {
  background-image: url("/assets/images/MainViewBackground.png");
  border-bottom: none;
  margin-top: -20px;
  height: 380px;
}

#banner h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.hero-unit {
  position: relative;
  padding: 100px 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.hero-unit img {
  width: 150px;
  height: 150px;
}

.hero-unit-list-projects {
  text-align: left;
  color: white;
}

.hero-unit-list-projects a {
  color: white;
  text-decoration: none;
}

/* ============================================================
  FRAMESHARE CREATE PROJECT
============================================================ */

#frameshare-create-project {
  width:40%;
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
}

#framer-create-project-button {
    padding: 10px;
    margin-top:40px;
    margin-bottom: 30px;
    border: solid 3px white;
    border-radius: 0px;
    width: 200px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

#framer-create-project-button:hover {
  background-color: white;
}

#framer-create-project-button:hover a {
  color:black !important;
}

#framer-create-project-button a {
  color: white;
  text-decoration: none;
}

#frameshare-create-project-input {
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
  background-color: transparent !important;
  padding: 5px !important;
  border: 0 !important;
  height: 50px;
  text-align: center;
  font-size: 28px;
  width: 100%;
  color: white !important;
  -webkit-transition: border 0.3s !important;
  -moz-transition: border 0.3s !important;
  -o-transition: border 0.3s !important;
  transition: border 0.3s !important;
  border-radius: 0px !important;
  width: 100% !important;
  text-transform: uppercase !important;
  border-bottom: 3px Dashed #00A4CF !important;
}

.create-project-input {
  width: 100%;
}

#frameshare-create-project-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #6DACD4 !important;
  text-align: center;
  text-weight: light;
  text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.create-project-input .input-group-btn {
  height: 100px;
}

.nav-tabs > li > a {
  border: none !important;
}

/*-- Public projects --*/
#framshare-main-public-projects h2 {
  color: #D8D8D8;
  font-size: 1.5em;
  margin: 20px 0px 20px 0px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

#syf-main-add-project {
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .create-project-input {
    display: none;
  }
}
