.thing-form {
  margin: 20px 0;
}



#banner {
  border-bottom: none;
  margin-top: -20px;
  height:100vh;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 150px 15px;
  color: black;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.hero-unit img {
  width: 150px;
  height: 150px;
}

.hero-unit-list-projects {
  text-align: left;
  color: white;
}

.hero-unit-list-projects a {
  color: white;
  text-decoration: none;
}

.nav-tabs > li > a {
  border: none !important;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

#syf-main-add-project {
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

