<div ng-include="'components/navbar/navbar.html'"></div>

<div ui-view>
  <div class="container">
    <div class="jumbotron">
      <h1>FramerJS pro</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="/dashboard/new-project" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new project</a></p>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Projects</h3>
          <div class="panel panel-default" ng-repeat="project in awesomeProjects">
            <div class="panel-heading">
              <a ui-sref="dashboard.project({ slug: project.slug })" class="panel-title">{{project.name}} </a>
              <small ng-if="project.author">created by {{project.author.name}}</small>
              <div ng-show="isLoggedIn()" class="main-actions pull-right">
                <a class="edit" tooltip="Edit project"> Edit</a>
              </div>
            </div>
            <div class="panel-body">

              <p>{{project.description}}</p>
              <p><add-version ng-show="isLoggedIn()" data-project="project"></add-version></p>

              <ul class="list-group prototype-versions-panel">
              <li class="list-group-item prototype-version-item" ng-repeat="version in project.prototype_version | orderBy:'-created_at'">

                <div ng-show="isLoggedIn()" class="pull-right">
                  <a ng-href="{{version.url}}" class="prototype-verstion-item-open-prototype" tooltip="Open prototype">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    Open prototype
                  </a>
                </div>
                <p class="prototype-version-item-timestamp" am-time-ago="version.created_at"></p>
                <p class="prototype-version-item-name">{{version.name}}</p>
                <p class="prototype-version-item-description">{{version.description}}</p>
                <p class="prototype-version-item-url"><code>{{version.url}}</code></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
