.frameshare-project-list-wrapper  {

}

.prototype-versions-panel {
  margin-top: 0px;
}

.list-group-item:first-child {
  font-size: 100%;

}

.list-group-item:first-child:before {

  font-family: icomoon;
  content: "\f020  HEAD";
  font-size: 80%;
  color: #D8D8D8;
}

.framshare-project-title {
  font-size: 2em;
  color: #4E94E1;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
}

.framshare-project-title a {
  text-decoration: none !important;
}

.framshare-project-title:hover {
  text-decoration: none !important;
}

.frameshare-project-list-header {
  background-color: white !important;
  border-bottom: 0px;
}

.framshare-last-update {

}

.frameshare-project-description {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
  font-weight: 400;
}

.framshare-project-timeline-version {
  padding-right: 30px;
  padding-top: 40px;
  margin-left: -27.5px;
  font-size: 200%;
  color: #569ADF !important;
}

.frameshare-project-list-proto-version {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 2px Solid #569ADF !important;
    border-bottom: 0 !important;
    border-radius: 0px !important;
}

.frameshare-project-list-proto-version:hover {
  background-color: rgba(185, 192, 199, 0.1);
}

.framshare-project-list-url a  {
    text-decoration: none;
    padding: 2px 4px;
    font-size: 90%;
    color: #569ADF;
    white-space: nowrap;
    background-color: rgba(185, 192, 199, 0.27);
    border-radius: 4px;
}

.framshare-project-list-url a:hover {
  cursor: pointer;
}
